
body {
    margin: 0;
    padding: 0;
    background-color: #201E1D;
    color: white;
}

#root {
    height: 100dvh;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: black;
}




button {
    border-radius: 8px;
    border: 1px solid dimgrey;
    padding: 16px;
    background-color: dimgrey;
}

button:hover {
    background-color: white;
}



